<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Books | Book Haven</title>
 <link rel="stylesheet" href="/css/books.css">
</head>
<body>
<%- include("includes/nav.ejs")%>

  <main>
    <form class="search-bar" id="form">
      <input id="search" type="text" name="value" placeholder="Search for a book or genre..." required />
    </form>
<div id="div">
    
   </div>
   
    <section id="bookgrid" class="book-container">
   

    </section>
  </main>

  <footer>
    <p>© 2025 Book Haven. All rights reserved.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>
